/* Font Size Rules */
.wd-very-small {
    font-size: 12px;
}

/* Icon Size, Pos, & Color Rules */
.wd-icon-red {
    color: red;
}

.wd-icon-md {
    font-size: 1.5rem;
}

.wd-icon-lg {
    font-size: 2.5rem;
}

.wd-logo-sm {
    width: 65px;
    height: 'auto';
}

.wd-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries to apply offset to Kambaz Nav Bar */
@media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
        padding-left: 120px !important;
    }
}
